store-dir=${HOME}/.pnpm-store
virtual-store-dir=${HOME}/.pnpm-virtual-store/kp
shamefully-hoist=true

; default hoist list from https://github.com/pnpm/pnpm/blob/v7.14.2/packages/config/src/index.ts#L214
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

; and babel and jest to hoist list
public-hoist-pattern[]=*jest*
